
@{
    ViewBag.Title = "InstructorDashboard";
}

<h2>Instructor Dashboard</h2>
<div class="row mt-4">
  <div class="col text-center">
    @Html.ActionLink("Create new round", "Create", "Rounds", null, new { @class = "btn btn-primary btn-lg" })
  </div>
  <div class="col text-center">
    @Html.ActionLink("View all round", "Index", "Rounds", null, new { @class = "btn btn-primary btn-lg" })
  </div>
  <div class="col text-center">
    @Html.ActionLink("View all Students", "GetAllStudent", "Student", null, new { @class = "btn btn-primary btn-lg" })
  </div>
  <div class="col text-center">
    @Html.ActionLink("View all Job-Post", "Index", "JobPosts",null, new { @class = "btn btn-primary btn-lg" })
  </div>
</div>